
// Boxes
	$min: 320px;
	$mobile: 650px; // 480
	$tablet: 768px;
	$large: 940px;
	$all: 100%;
// END Boxes

	$sprite: url('images/sprite.png');

	$feat-dsk: url('images/featured-desk.png');
	$feat-mob: url('images/featured-mobile.png');

	$high-desk: url('images/highlight-desk.jpg');
	$high-mob: url('images/highlight-mob.jpg');

// Elements
// END Elements
